<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Pendeteksi Warna Kain</title>
        <link href="static/assets/dist/css/styles.css" rel="stylesheet" />
        <link href="static/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
        <script src="static/js/all.min.js"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">Warna Kain</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0 form-cari-halaman">
                <div class="input-group">
                    <input class="form-control cari_halaman" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <a class="btn btn-primary btn-cari-halaman" type="button"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="login.html">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        
        <div id="layoutSidenav">
            <!-- MENU -->
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Master</div>
                            <a class="nav-link" href="/ekstraksi_ciri">
                                <div class="sb-nav-link-icon"><i class="fas fa-folder"></i></div>
                                Ekstraksi Ciri
                            </a>
                            <div class="sb-sidenav-menu-heading">Algoritma</div>
                            <a class="nav-link" href="/pelatihan">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Pelatihan
                            </a>
                            <a class="nav-link" href="/pengujian">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Pengujian
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Pembuat : </div>
                        Fitri Enggar Utami
                    </div>
                </nav>
            </div>
            <!-- END MENU -->
            <!-- MAIN CONTENT -->
            <div id="layoutSidenav_content">
                <main>
                    <!-- CONTENT -->
                    {% block content %}{% endblock %}
                    
                    <!-- END CONTENT -->
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright Fitri Enggar Utami</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <script src="static/js/jquery.js"></script>
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <script src="static/assets/dist/js/scripts.js"></script>
        <script src="static/js/chart.min.js"></script>
        <script src="static/assets/dist/assets/demo/chart-area-demo.js"></script>
        <script src="static/assets/dist/assets/demo/chart-bar-demo.js"></script>
        <script src="static/js/jquery.dataTables.min.js"></script>
        <script src="static/js/dataTables.bootstrap4.min.js"></script>
        <script src="static/assets/dist/assets/demo/datatables-demo.js"></script>
        <script src="static/js/scriptku.js"></script>
    </body>
</html>
